.order-table{   
	border-collapse:collapse;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

#topheader .navbar-nav li > a {
		  text-transform: capitalize;
		  color: white;
		  transition: background-color 0.2s, color 0.2s;
		}
		#topheader .navbar-nav li > a:hover, #topheader .navbar-nav li > a:focus {
		  background-color: #333;
		  color: #fff;
		}
		
		#topheader .navbar-nav li.active > a {
		  background-color: white;
		  color: black;
		}
		.languge {
		  background-color: grey;
		}